#define SECRET_USERNAME "----"
#define SECRET_DEVICE_ID "----"
#define SECRET_DEVICE_CREDENTIAL "----"

#define SECRET_SSID "----"
#define SECRET_SSID_PASSWORD "----"

#define SECRET_MAC "----"

// #define SECRET_PCIPADDRESS 192, 168, 1, 2
#define SECRET_PCIPADDRESS ---, ---, ---, ---